* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.nav_container {
  width: 100%;
  height: 680px; 
  overflow: hidden;
  background-image: url(../assets/slider7.jpg); 
  background-size: 100% auto; 
  background-position: center top; 
  background-repeat: no-repeat; 
  z-index: 1;
  padding-bottom: 680px;
  
}
#second {
  margin-top: 680px; 
  padding: 20px; 
}
nav{
  background-color: white;
  color:black;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  

}
.nav_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 110px;
  padding: 0 10px; 
  z-index: 10;
  
}

.left_side ul{
  display: flex;
  align-items: center;
  gap: 15px;

}
.left_side ul li{
  padding: 4px 0;
  
}
.left_side ul li a{
  text-decoration: none;
  color: black;
  
}
.left_side ul li a h4 {
  left: 0;
  font-size: 40px;
  color: black;
  font-weight: 1000;
  margin: 0; 
}
.right_side{
  display: flex;
  align-items: center;
  gap: 20px;
}
.right_side .search{
  display: flex;
  align-items: center;
  
}
.right_side .search input{
  color: #666666;
  outline: none;
  width: 400px;
  padding: 12px;
  border: none;
  background-color: transparent;
  
}
.right_side .icon_groups {
  display: flex;
  align-items: center;
  font-size: 23px;
  margin-right: 10px;
  gap: 20px;
  outline: none;
  text-decoration: none;
}
.right_side .icon_groups a{
  color: #666666;
  text-decoration: none;
}
.logo_menu li{
  display: flex;
}
.logo_menu ul li a {
  color: black; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.logo_menu ul li a:hover {
  color: #79A206; 
}
.icon_groups a {
  color: black; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.icon_groups a:hover {
  color: #79A206; 
}

.home_menu{
  position: relative;

}
.home_menu:hover #home{
  opacity: 1;
  visibility: visible;

}

#home{
  position: absolute;
  top: 35px;
  width: 300px;
  background-color: white;
  color:  #666666;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  opacity: 0;
  transition: all 0.7s ease;
}
#home a{
color:  #666666;
}
#home li:hover a{
  color: #79A206;
  visibility: visible;
  opacity: 1;
}
.mega_box{
  position: absolute;
  top: 300px;
  width: 75%;
  left: 190px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 5px;

}
.mega_box .content{
  background: white;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.content .shop_row{
  width: calc(25% - 40px);
  transition: all 0.3s ease;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}
.content .shop_row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
   
}
.content .shop_row header{
  margin-bottom: 15px;
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.content .shop_row .shop {
  display: flex;
  flex-direction: column;
} 


.shop_row .shop li {
  text-align: left;
  align-items: flex-start;
  font-size: 13px;
  color: #777676;
  margin-bottom: 6px; 
}

.shop_row .shop li a {
  text-decoration: none;
  color: #777676;
}

.shop_row .shop li a:hover {
  color: #79A21D;
  text-decoration: none;
}
.shop_menu:hover .mega_box {
  top: 80px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
#blog_menu{
  position: relative;

}
#blog_menu:hover #blog{
  opacity: 1;
  height: 180px;
  padding: 20px;
}
#blog {
  position: absolute;
  top: 35px;
  width: 300px;
  background-color: white;
  color:  #666666;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  opacity: 0;
  transition: all 0.7s ease;
}
#blog a {
  font-size: 15px; 
  margin-top: 2px;
  margin-left: 2px;
  display: block;
  color: #777676;
}
#blog a:hover{
  color: #79A21D;
}
#blog li a i{
  margin-left: 3px;
  font-size: 1em;
}
#ins_menu-1{
  display: none;
  transition: all 0.7s ease;
}
#ins_menu-1 a {
  font-size: 15px; 
  margin-top: 2px;
  margin-left: 2px;
  color: #777676;
}
#blog_menu ul li:hover #ins_menu-1{
  display: block;
  width: 100%;
  height: 180px;
  position: absolute;
  top: 35px;
  left: 280px;
  background-color: white;
  color: black;
  
}
#ins_menu-2{
  display: none;
  transition: all 0.7s ease;
}
#blog_menu ul li:hover #ins_menu-2{
  display: block;
  width: 100%;
  height: 180px;
  position: absolute;
  top: 60px;
  left: 280px;
  background-color: white;
  color: black;
  opacity: 1;
}
#ins_menu-3{
  display: none;
  transition: all 0.7s ease;
}
#blog_menu ul li:hover #ins_menu-3{
  display: block;
  width: 100%;
  height: 180px;
  position: absolute;
  top: 80px;
  left: 280px;
  background-color: white;
  color: black;
  opacity: 1;
}
#ins_menu-1 ul li, #ins_menu-2 ul li, #ins_menu-3 ul li {
  margin: 5px 0; 
}


#ins_menu-1 ul li a, #ins_menu-2 ul li a, #ins_menu-3 ul li a {
  font-size: 15px;
  color: #777676;
  padding: 5px 10px; 
  text-decoration: none;
}
#ins_menu-1 ul, #ins_menu-2 ul, #ins_menu-3 ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#ins_menu-1 ul li a:hover, #ins_menu-2 ul li a:hover, #ins_menu-3 ul li a:hover {
  color: #79A21D;
}

.sec_container{
  max-width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
 }
 form{
   margin: 0 auto;
   padding: 10px;
 }
.sec_row{
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.sec_row .sec_left{
  flex-basis: 35%;
}
.sec_row .sec_right{
  flex-basis: 65%;
}
.sec_row .sec_left img{
  width: 100%;
  height: 100%;
  
}
.sec_row .sec_right h4{
  font-size: 16px;
  color: #79A21D;

}
.sec_row .sec_right h1{
  font-size: 30px;
  color: #404040;

}
.sec_row .sec_right p{
  font-size: 15px;
  color: #404040;

}
.sec_row .sec_right h2{
  font-size: 13px;
  color: #404040;

}
.sec_row .sec_right img{
  width: 30%;
  color: #404040;
  flex-wrap: wrap;

}
.top_row {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.new_arrivals {
  font-size: 2rem;
  color: #272626;
  margin-bottom: 10px;
  font-weight: 500; 
}

.underline {
  width: 6%;
  border: 0;
  border-top: 2px solid #141414;
  margin: 3px auto; 
  margin-bottom: 60px;
}
.price_container{
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}
.price_row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px; 
  margin: 0;
  margin-bottom: 15px;
  flex-wrap: wrap; 
}
.price_row .form_group{
  flex-basis: 18%;
}
.price_row img {
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  object-fit: cover; 
}
.price_row a{
  text-decoration: none; 
  font-size: 15px;
  color: #3e3d3d;
 
}
.price_row a{
text-decoration: none;
}
.price_row a :hover{
  color:#79A21D;
  text-decoration:none;

}
.price_row h4{
  font-size: 17px;
  color: #79A21D;
  font-weight: 600;
  
}
.image_wrapper {
  position: relative;
}

.icons_wrapper {
  position: absolute;
  bottom: 5px;
  left: 1px;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.image_wrapper:hover .icons_wrapper {
  opacity: 1;
}

.icons_wrapper .icon {
  font-size: 20px;
  display: inline-block;
  background-color: white;
  padding: 10px;
  color: #404040;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icons_wrapper .icon:hover {
  color: #79A21D;
}
.ceo_row {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.quest {
  font-size: 2.5rem;
  color: #272626;
  margin-bottom: 10px;
  font-weight: 500; 
}

.underline {
  width: 6%;
  border: 0;
  border-top: 2px solid #141414;
  margin: 10px auto; 
  margin-bottom: 70px;
}
.write p{
  margin: 10px;
  display: flex;
  justify-content: center;
  color: #525151;
  font-size: 17px;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
.ceoimg {
  margin: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ceoimg img {
  width: 13%;
  height: 13%;
}
.btn_img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.btn_img img {
  width: 115px;
  height: 100%;
  object-fit: cover;
}
.quest span{
  color: #79A21D;
}
.email {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.undr {
  width: 37%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #141414;
  position: relative; 
}


.icon i {
  font-size: 22px; 
  color: #444444; 
  margin-right: 10px; 
}

input {
  width: 170px; 
  height: 15px;
  font-size: 15px;
  border: none;
  outline: none;
}

.sub_btn {
  position: absolute; 
  right: 0; 
}

.sub_btn button {
  font-size: 15px; 
  font-weight: bold; 
  color: #565555; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  background-color: transparent;
}
.foot_container {
  border-top: 1px solid rgb(240, 239, 239);
  margin-top: 70px;
  width: 100%;
  height: 400px;
  padding: 20px 0;
  background-color: #FFFFFF;
  position: relative;
  
}

.foot_row {
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.foot_col {
  text-align: left; 
}

.foot_col h4, .foot_col h3, .foot_col h2 {
  margin: 0; 
  padding: 0; 
  margin-bottom: 10px; 
}

.foot_col h4 {
  font-size: 16px;
  margin-bottom: 20px;
}

.foot_col h3 {
  font-size: 13px;
  color: #141414;
}

.foot_col h2 {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-top: 15px;
}


.foot_col ul {
  padding: 0;
  list-style-type: none;
  margin-left: 0; 
  text-decoration: none;
  color: #3e3d3d;
}

.foot_col ul li {
  margin-bottom: 8px;
}

.foot_col ul li a {
  text-decoration: none;
  color: #777676;
  display: block;
}

.foot_col ul li a:hover {
  color: #79A21D;
}

.foot_col ul li {
  margin-bottom: 8px; 
}
.foot_underline {
  width: 30%; 
  border: 0;
  border-top: 3px solid #141414;
  margin-left: 0; 
  margin-right: auto; 
  margin-bottom: 8px;
}
.foot_col a {
  text-decoration: none;
}
.foot_cent a p {
  font-size: 40px; 
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0; 
  line-height: 1; 
}

.foot_cent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.ays {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 3px; 
}

.ays a {
  margin: 0 30px; 
}
.ays a h4{
  margin-top: 6px;
  font-size: 14px;
  color:  #777676; 
  text-decoration: none;
}

.ays a:hover h4 {
  color: #79A21D; 
}
.foot_cent a {
  font-size: 1rem; 
  margin-bottom: 10px; 
}


.foot_btn button {
  font-size: 1rem;
  margin: 5px;
}
.foot_btn {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
  margin-top: 5px;
}

.foot_btn button {
  width: 45px; 
  height:45px; 
  margin: 10px 2px;
  border-radius: 50%; 
  background-color: #F2F2F2; 
  border: none; 
  font-size: 24px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
}
.foot_btn button i{
  color: rgb(86, 85, 85);
 font-size: 14px;
}
.foot_btn button:hover i {
  color: rgb(246, 235, 235);
}

.foot_btn button:hover {
  background-color: #79A21D;
}
.foot_btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; 
  margin: 25px;
  gap: 10px; 
  border: none;
}

.foot_btn2 button {
  width: 170px; 
  height: 50px; 
  padding: 5px; 
  border-radius: 4px; 
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.foot_btn2 img {
  width: 100%; 
  height: 100%; 
  border-radius: 4px;
  object-fit: cover;
}
.words {
  display: flex;
  flex-direction: column; 
  margin-left: 200px; 
  margin-top: 200px;
}

.amazing-text {
  border-left: 2px solid black;
  display: inline-block; 
  text-align: left; 
  line-height: 1.2; 
  font-size: 15px;
  margin-bottom: 20px; 
  padding-left: 10px; 
}

.amazing-text .top-line,
.amazing-text .bottom-line {
  display: block; 
  font-size: inherit; 
  margin: 0; 
  padding: 0; 
}

.cact-text {
  display: inline-block; 
  text-align: left; 
  line-height: 1; 
  color: #272626;
  margin: 10px 0; 
  padding-left: 10px; 
}

.cact-text .top-cact{

  display: block;
  font-size: 65px; 
  font-weight: normal;
  margin: 0; 
  padding: 0; 
}
.cact-text .bottom-cact {
  display: block;
  font-size: 65px; 
  font-weight: bold;
  margin: 0; 
  padding: 0; 
}

.words p {
  margin-top: 20px; 
  font-size: 24px;
}
.words button{
  top: 30px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 55px;
  border-radius: 25px ;
  color: white;
  background-color: #222222;
  position: relative;
  cursor: pointer;
  border: none;
}
.words:hover button{
  background-color: #79A206;
}
.ins_menu-4 ul li {
  padding: 10px 10px;
  margin-top: 3px;
  list-style-type: none; 
  align-items: center;
  justify-content: center;
}
.ins_menu-4 {
  display: none;
  position: absolute;
  width: 160px; 
  height: 250px;
  right: -2px; 
  top: 30px; 
  background-color: white;
  color: black;
  z-index: 10; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  transition: opacity 0.3s ease;
}


.group_icon_wrapper {
  position: relative;
  padding: 10px;
}


.group_icon_wrapper:hover .ins_menu-4,
.group_icon_wrapper .ins_menu-4:hover {
  display: block;
  visibility: visible;
  opacity: 1;
}

.ins_menu-4 ul li a {
  font-size: 14px; 
  color: #5a5858;
  text-decoration: none;
  display: block; 
  padding: 10px 0; 
}
.ins_menu-4 ul li a:hover {
  color: #79A21D;
}

.ins_menu-5 {
  display: none;
  position: absolute;
  width: 300px; 
  height: 70px;
  top: 30px; 
  right: -3px; 
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  z-index: 10; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  transition: opacity 0.3s ease;
}


.bag_icon_wrapper {
  position: relative;
  padding: 10px;
}


.bag_icon_wrapper:hover .ins_menu-5,
.bag_icon_wrapper .ins_menu-5:hover {
  display: block;
  visibility: visible;
  opacity: 1;
}


.ins_menu-5 ul li {
  padding: 10px;
  margin: 6px;
  list-style-type: none; 
  align-items: center;
}


.ins_menu-5 ul li a {
  font-size: 14px; 
  color: black;
  text-decoration: none;
  display: block; 
  padding: 10px 10px; 
}
.ins_menu-5 ul li a:hover {
  color: #79A21D;
}
.icon_groups .btn_groups{
  background: none;
  border: none;
}

.icon_groups .btn_groups i{
  margin-left: 3px;
  margin-right: 3px;
  background: none;
  border: none; 
  font-size: 20px;
  gap: 3px;
  cursor: pointer;
  margin-left: 15px;
  color: #777676;
}
.navbar{
  transition: all 0.5s ease;
}
.navbar-scrolled{
  background-color: black;
}